/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Funnel+Display:wght@800&family=Funnel+Sans:wght@300..800&display=swap');

/* Colors */
:root {
  --aqua: #b9fff3;
  --mint: #5dfbff;
  --sky: #15abff;
  --deep: #2e00c0;
  --navy: #050028;
  --purple: #a200ea;
  --pink: #ff57eb;

  --aqua-rgb: 185, 255, 243;
  --mint-rgb: 93, 251, 255;
  --sky-rgb: 21, 171, 255;
  --deep-rgb: 46, 0, 192;
  --navy-rgb: 5, 0, 40;
  --purple-rgb: 162, 0, 234;
  --pink-rgb: 255, 87, 235;
}

/* Base */
* {
  cursor: none !important;
}

body {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: var(--aqua);
  background-color: var(--navy);
  overflow-x: hidden;
}

::selection {
  background-color: var(--deep);
  color: white;
}

h1 {
  font-family: "Funnel Display", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  color: white;
  margin-bottom: 0;
}
h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--aqua);
  margin-top: 0;
  margin-bottom: -0.5rem;
}
h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--sky);
}

p {
  margin: 0;
}

a {
  color: var(--pink);
  text-decoration: none;
}
a:hover {
  color: white;
}
a:active {
  color: var(--purple);
}

.jap {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
}