/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Funnel+Display:wght@800&family=Funnel+Sans:wght@300..800&display=swap');

/* Colors */
:root {
  --aqua: #b9fff3;
  --mint: #5dfbff;
  --sky: #15abff;
  --deep: #2e00c0;
  --navy: #050028;
  --purple: #a200ea;
  --pink: #ff57eb;

  --aqua-rgb: 185, 255, 243;
  --mint-rgb: 93, 251, 255;
  --sky-rgb: 21, 171, 255;
  --deep-rgb: 46, 0, 192;
  --navy-rgb: 5, 0, 40;
  --purple-rgb: 162, 0, 234;
  --pink-rgb: 255, 87, 235;
}

/* Base */
* {
  cursor: none !important;
}

body {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: var(--aqua);
  background-color: var(--navy);
  overflow-x: hidden;
}

::selection {
  background-color: var(--deep);
  color: white;
}

h1 {
  font-family: "Funnel Display", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  color: white;
  margin-bottom: 0;
}
h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--aqua);
  margin-top: 0;
  margin-bottom: -0.5rem;
}
h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--sky);
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

.text {
  text-align: justify;
}

.text-title {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.text-icon {
  color: var(--mint);
}

.bold {
  font-weight: 700;
  color: var(--mint);
  text-shadow: none;
  transition: color 0.5s, text-shadow 0.5s;
}
.bold:hover {
  color: white;
  text-shadow: var(--mint) 0 0 1rem;
}

.quoted-container {
  display: flex;
}

.quoted {
  height: auto;
}

.quote-left {
  font-size: 2.5rem;
  color: var(--sky);
  margin: 0 0.5rem 0 -0.5rem;
  float: left;
}

.quote-right {
  font-size: 2.5rem;
  color: var(--sky);
  margin: 0 -0.5rem 0 0.5rem;
}

.bottom-corner {
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 2.5rem) 0 0);
}

a {
  color: var(--pink);
  text-decoration: none;
}
a:hover {
  color: white;
}
a:active {
  color: var(--purple);
}

/* Buttons */
button {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--navy);
  border: none;
  padding: 0.5rem 1rem;
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  height: 2.5rem;
}

.button-primary {
  background: var(--aqua);
}
.button-primary:hover {
  background: linear-gradient(to right, var(--mint), var(--aqua));
}
.button-primary:active {
  background: linear-gradient(to right, var(--aqua), white);
}

.button-secondary {
  background: var(--mint);
}
.button-secondary:hover {
  background: linear-gradient(to right, var(--sky), var(--mint));
}
.button-secondary:active {
  background: linear-gradient(to right, var(--mint), var(--aqua));
}

.button-tertiary {
  background: var(--pink);
}
.button-tertiary:hover {
  background: linear-gradient(to right, var(--purple), var(--pink));
}
.button-tertiary:active {
  background: linear-gradient(to right, var(--pink), white);
}

.button-container {
  margin-top: 1rem;
  padding-bottom: 1rem;
  pointer-events: none
}
.button-container:hover {
  background: linear-gradient(to top, var(--navy), var(--deep) 66%);
}
.button-container:active {
  background: linear-gradient(to top, var(--navy), var(--deep) 33%);
}

.link, .download {
  position: relative;
  font-size: 1.2rem;
  color: white;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: font-weight 1s;
}

.link:hover, .download:hover {
  font-weight: 700;
}

.link::before, .download::before {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(to right, var(--deep), var(--navy));
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}
.download::before {
  background: linear-gradient(to right, rgba(var(--purple-rgb), 0.8), var(--navy));
}

.link:hover::before, .download:hover::before {
  opacity: 1;
}

.link:active, .download:active {
  color: white;
  background: linear-gradient(to right, var(--sky), var(--deep), var(--navy));
}

.download:active {
  background: linear-gradient(to right, rgba(var(--pink-rgb), 0.8), rgba(var(--purple-rgb), 0.8), var(--navy));
}

/* Layout */
.content {
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  left: 10vw;
  gap: 4rem;
}

.content-left,
.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-left {
  width: 50vw;
  margin-top: 6rem;
}

.content-right {
  width: 30vw;
  margin-top: 10rem;
}


.jap {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
}