/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Funnel+Display:wght@300..800&family=Funnel+Sans:wght@300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Colors */
:root {
  --aqua: #b9fff3;
  --mint: #5dfbff;
  --sky: #15abff;
  --deep: #2e00c0;
  --navy: #050028;
  --purple: #a200ea;
  --pink: #ff57eb;

  --aqua-rgb: 185, 255, 243;
  --mint-rgb: 93, 251, 255;
  --sky-rgb: 21, 171, 255;
  --deep-rgb: 46, 0, 192;
  --navy-rgb: 5, 0, 40;
  --purple-rgb: 162, 0, 234;
  --pink-rgb: 255, 87, 235;
}

/* Base */
body {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: var(--aqua);
  background-color: var(--navy);
  overflow-x: hidden;
  margin: 0;
}

::selection {
  background-color: var(--deep);
  color: white;
}

h1 {
  font-family: "Funnel Display", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4rem;
  color: white;
  margin-bottom: 0;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--aqua);
  margin-top: 0;
  margin-bottom: -0.5rem;
}

h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--sky);
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.text-title {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: 700;
  color: var(--mint);
  text-shadow: none;
  cursor: pointer;
  transition: color 0.5s, text-shadow 0.5s;
}

.bold:hover {
  color: white;
  text-shadow: var(--mint) 0 0 1rem;
}

.snippet {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 0.95rem;
  color: white;
  background: linear-gradient(to top, rgba(var(--deep-rgb), 0.5), transparent);
  margin: 0;
  padding: 0 0.3rem;
}

.snippet.copy:hover {
  font-weight: 700;
  background: linear-gradient(to top, var(--deep), transparent);
}

.snippet.copy:active {
  background: linear-gradient(to top, var(--sky), var(--deep));
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: unset;
}

a:active {
  color: unset;
}

.disclaimer {
  color: var(--sky);
}

/* Buttons */
button {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--navy);
  border: none;
  padding: 0.5rem 1rem;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  white-space: nowrap;
  height: 2.5rem;
  width: 100%;
  cursor: pointer;
  transition: width 0.5s;
}

.button-primary {
  background: var(--mint);
}

.button-primary:hover {
  background: linear-gradient(to right, var(--mint), var(--aqua));
}

.button-primary:active {
  background: linear-gradient(to right, var(--aqua), white);
}

.button-secondary {
  background: var(--deep);
  color: var(--aqua);
}

.button-secondary:hover {
  background: linear-gradient(to right, var(--deep), var(--sky) 150%);
}

.button-secondary:active {
  background: linear-gradient(to right, var(--deep) -50%, var(--sky));
  color: white;
}

.button-tertiary {
  background: var(--pink);
}

.button-tertiary:hover {
  background: linear-gradient(to right, var(--purple), var(--pink));
}

.button-tertiary:active {
  background: linear-gradient(to right, var(--pink), white);
}

.button-container {
  margin-top: 1rem;
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  pointer-events: none;
  background: linear-gradient(to top, transparent, var(--deep) 50%);
  transform: scale(1);
  transition: all 0.5s;
}

.button-container:hover {
  padding-bottom: 1rem;
  margin-bottom: 0rem;
  transform: scale(1.1);
}

.button-container:active {
  background: linear-gradient(to top, transparent, var(--deep), var(--sky) 50%);
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

/* Layout */
.content {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  margin-left: 10%;
  gap: 4rem;
}

.content-left,
.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-left {
  width: 50vw;
  margin-top: 6rem;
}

.content-right {
  width: 30vw;
  margin-top: 10rem;
}


.jap {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    width: 84%;
    margin-left: 8%;
    gap: 2rem;
  }

  .content-left,
  .content-right {
    width: 100%;
    margin-top: 0;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 3.2rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .buttons {
    gap: 1rem;
  }

  button {
    font-size: 1rem;
    height: 2rem;
  }
}