* {
    cursor: unset;
}

.custom-cursor {
    position: fixed;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    pointer-events: none;
    transform: translate(-40%, -20%);
    z-index: 100;
}

.custom-cursor::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: transparent;
}

.custom-cursor.hover::before {
    background-color: transparent;
}

.custom-cursor.hover {
    transform: translate(-40%, -20%) scale(1.5);
    box-shadow: none;
}

.tooltip-container {
    position: absolute;
    inset: 0;
    z-index: -1;
    padding-top: 1.7rem;
    text-align: center;
    font-size: 0.65rem;
    color: white;
    text-shadow: 0 0 0.5rem var(--navy);
    opacity: 1;
    transition: opacity 0.2s ease;
}

.tooltip-container::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    border-radius: 50%;
    background: radial-gradient(circle at center bottom,
            rgba(var(--navy-rgb), 0.5),
            rgba(var(--navy-rgb), 0) 75%),
        radial-gradient(circle at center top,
            rgba(var(--navy-rgb), 0) 75%,
            rgba(255, 255, 255, 0.8));
}